<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.synergykit.sampleapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="com.synergykit.sampleapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.synergykit.sampleapp.permission.C2D_MESSAGE" />

    <application android:name=".SynergyKITApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
            android:name="com.synergykit.sampleapp.notifications.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.synergykit.sampleapp" />
            </intent-filter>
        </receiver>

        <service android:name="com.synergykit.sampleapp.notifications.GcmIntentService" />

        <activity
            android:name="com.synergykit.sampleapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.synergykit.sampleapp.LoginActivity"
            android:label="Sign In" >

        </activity>
        <activity
            android:name="com.synergykit.sampleapp.NotificationsActivity"
            android:label="Notifications" >

        </activity>
        <activity
            android:name="com.synergykit.sampleapp.CloudCodeActivity"
            android:label="Cloud code" >

        </activity>
        <activity
            android:name="com.synergykit.sampleapp.SignUpActivity"
            android:label="Sign up" >

            </activity>
        <activity
            android:name="com.synergykit.sampleapp.RequestsActivity"
            android:label="POST/GET Requests" >

        </activity>

        <activity
            android:name="com.synergykit.sampleapp.SocketActivity"
            android:label="Socket" android:windowSoftInputMode="adjustResize" >

        </activity>

        <!-- Facebook sign in -->
        <activity android:name="com.facebook.LoginActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="facebook" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
